<div class="container">
  <h3>Create Book</h3>
  <div [hidden]="submitted" style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" required [(ngModel)]="book.id" name="id" />
      </div>

      <div class="form-group">
        <label for="id">Judul</label>
        <input type="text" class="form-control" id="judul" required [(ngModel)]="book.judul" name="judul" />
      </div>

      <div class="form-group">
        <label for="id">Penerbit</label>
        <input type="text" class="form-control" id="penerbit" required [(ngModel)]="book.penerbit" name="penerbit" />
      </div>

      <div class="form-group">
        <label for="id">Denda</label>
        <input type="text" class="form-control" id="danda" required [(ngModel)]="book.denda" name="denda" />
      </div>

      <div class="form-group">
        <label for="id">Stok</label>
        <input type="text" class="form-control" id="stok" required [(ngModel)]="book.stok" name="stok" />
      </div>
    </form>
  </div>

  <div [hidden]="!submitted">
    <div class="alert alert-warning" role="alert">
      Coba Lagi?
      <button (click)="refresh()" class="btn btn-outline-secondary">Yes</button>
      <a routerLink="book/Add"><button class="btn btn-outline-secondary">No</button></a>
    </div>
  </div>
  <div [hidden]="submitted">
    <button class="btn btn-outline-secondary" (click)="save()">Add</button>&nbsp;
  </div>
</div>
